
.timeline-container {
    width: 100%;
    color: white;
}

.era-container {
    padding: 50px;
    border-bottom: 1px solid #ccc;
}

.period-container {
    margin-top: 30px;
    padding-left: 50px;
    border-left: 1px solid #ccc;
}

.key-event-container {
    margin-top: 20px;
    padding-left: 30px;
}
