body {
  margin: 0;
  background-color: #1a1721;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#content {
  overflow: visible;
  width: 100%;
}

.timeline-container {
    width: 100%;
    color: white;
}

.era-container {
    padding: 50px;
    border-bottom: 1px solid #ccc;
}

.period-container {
    margin-top: 30px;
    padding-left: 50px;
    border-left: 1px solid #ccc;
}

.key-event-container {
    margin-top: 20px;
    padding-left: 30px;
}
